@media (min-width: 544px) {
    .auto-font {
        font-size: 50px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .auto-font {
        font-size: 50px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .auto-font {
        font-size: 30px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .auto-font {
        font-size: 40px;
    }
}
